<div class="about-uno pb-4">
  <div class="div uno p-3" data-aos="fade-down" data-aos-duration="1000">
    <div class="card">
      <div class="titles p-2">
        <h4 class="tt">{{datas.[2].bienvenido}}</h4>
        <h5 class="subtt">{{datas.[2].nolt}}</h5>
        <p class="textos">{{datas.[2].concepUno}}.</p>
        <h5 class="subtt">{{datas.[2].propo}}</h5>
        <p class="textos">{{datas.[2].concepDos}}</p>
      </div>
    </div>
  </div>

  <div class="div dos p-3" data-aos="fade-down" data-aos-duration="1000">
    <img 
      src="https://raw.githubusercontent.com/jhon50420/imagens-logs/main/undraw_code_inspection_bdl7.svg" />
  </div>
</div>